.cardstyle {
  width: 20rem;
}

.mar {
  margin-left: 2px;
}

.yelpEmbed {
  text-align: center;
  margin: auto;
}

.yelpMenu {
  text-align: center;
  margin: auto;
}

.yelpResult {
  text-align: center;
  margin: auto;
}

.yelpImage {
  width: 300px;
  text-align: center;
  margin: auto;
}

.yelpLink {
  font-size: 150%;
  color: #6666ff;
}

.room {
  text-align: center;
  margin: auto;
  margin-bottom: 50px;
}

.roomUser {
  text-align: center;
  margin: auto;
}

.chat-user-self {
  font-weight: bold;
  color: #6666ff;
}

.chat-user-other {
  font-weight: bold;
  color: gray;
}

.chat-message-self {
  color: #6666ff;
  /*outline: 5px solid blue;*/
  padding: 5px 5px 5px 5px;
}

.chat-message-other {
  padding: 5px 5px 5px 5px;
}

.chat-group-outer {
  padding: 10px 5px 10px 5px;
}

.chat-group {
  display: inline-block;
  padding: 5px 5px 5px 5px;
  /*box-shadow: 0 0 3pt 2pt gray;*/
}

.prefilled {
  font-weight: 200;
  font-style: italic;
  text-align: left;
  margin: auto;
}

.pre-scrollable-fixed {
  height: 600px;
  overflow: scroll;
}

.bordered {
  border: 2px groove;
  border-radius: 3px;
}

.userDetails {
  font-size: 75%;
}

.vote-on {
  background-color: #9bffc1;
}

.vote-off {
  background-color: white;
}

/* for login in page */



.wrong-color {
  color: red;
}

.wrap
{
    width: 100%;
    height: 100%;
    min-height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}

p.form-title
{
    font-family: 'Open Sans' , sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    color: #FFFFFF;
    margin-top: 5%;
    text-transform: uppercase;
    letter-spacing: 4px;
}

form
{
    width: 250px;
    margin: 0 auto;
}

form.login input[type="text"], form.login input[type="password"]
{
    width: 100%;
    margin: 0;
    padding: 5px 10px;
    background: 0;
    border: 0;
    border-bottom: 1px solid #FFFFFF;
    outline: 0;
    font-style: italic;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1px;
    margin-bottom: 5px;
    color: #FFFFFF;
    outline: 0;
}

form.login button[type="button"]
{
    width: 100%;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
    margin-top: 16px;
    outline: 0;
    cursor: pointer;
    letter-spacing: 1px;
}

form.login button[type="button"]:hover
{
    transition: background-color 0.5s ease;
}

form.login .remember-forgot
{
    float: left;
    width: 100%;
    margin: 10px 0 0 0;
}
form.login .forgot-pass-content
{
    min-height: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}
form.login label, form.login a
{
    font-size: 12px;
    font-weight: 400;
    color: #FFFFFF;
}

form.login a
{
    transition: color 0.5s ease;
}

form.login a:hover
{
    color: #2ecc71;
}

.pr-wrap
{
    width: 100%;
    height: 100%;
    min-height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    display: none;
}

.show-pass-reset
{
    display: block !important;
}

.pass-reset
{
    margin: 0 auto;
    width: 250px;
    position: relative;
    margin-top: 22%;
    z-index: 999;
    background: #FFFFFF;
    padding: 20px 15px;
}

.pass-reset label
{
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 15px;
}

.pass-reset input[type="email"]
{
    width: 100%;
    margin: 5px 0 0 0;
    padding: 5px 10px;
    background: 0;
    border: 0;
    border-bottom: 1px solid #000000;
    outline: 0;
    font-style: italic;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1px;
    margin-bottom: 5px;
    color: #000000;
    outline: 0;
}

.pass-reset input[type="submit"]
{
    width: 100%;
    border: 0;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
    margin-top: 10px;
    outline: 0;
    cursor: pointer;
    letter-spacing: 1px;
}

.pass-reset input[type="submit"]:hover
{
    transition: background-color 0.5s ease;
}
.posted-by
{
    position: absolute;
    bottom: 26px;
    margin: 0 auto;
    color: #FFF;
    background-color: rgba(0, 0, 0, 0.66);
    padding: 10px;
    left: 45%;
}

/* this is for the sign up css */


.signuphead{
    color: #558C89;
    font-size:30px;
    text-shadow: 1px 1px 6px #fff;
    margin-left: 150px;
    margin-bottom: 30px;
    margin-top: 50px;
}

.wordingInSignUp {
   color: #4A96AD;
}

.wordingInSignUpTwo {
   color: #67BCDB;
}

.signup-btn {
  background: #79bc64;
  background-image: -webkit-linear-gradient(top, #79bc64, #578843);
  background-image: -moz-linear-gradient(top, #79bc64, #578843);
  background-image: -ms-linear-gradient(top, #79bc64, #578843);
  background-image: -o-linear-gradient(top, #79bc64, #578843);
  background-image: linear-gradient(to bottom, #79bc64, #578843);
  -webkit-border-radius: 4;
  -moz-border-radius: 4;
  border-radius: 4px;
  text-shadow: 0px 1px 0px #898a88;
  -webkit-box-shadow: 0px 0px 0px #a4e388;
  -moz-box-shadow: 0px 0px 0px #a4e388;
  box-shadow: 0px 0px 0px #a4e388;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  border: solid #3b6e22  1px;
  text-decoration: none;
}

.signup-btn:hover {
  background: #79bc64;
  background-image: -webkit-linear-gradient(top, #79bc64, #5e7056);
  background-image: -moz-linear-gradient(top, #79bc64, #5e7056);
  background-image: -ms-linear-gradient(top, #79bc64, #5e7056);
  background-image: -o-linear-gradient(top, #79bc64, #5e7056);
  background-image: linear-gradient(to bottom, #79bc64, #5e7056);
  text-decoration: none;
}

.form .form-control { margin-bottom: 10px; }
@media (min-width:768px) {
  #home{
    margin-top:50px;
  }
  #home .slogan{
    color: #558C89;
    line-height: 29px;
    font-weight:bold;
  }
}

/* for logout */
.logout {
       font-family: 'Indie Flower', cursive;
       position: absolute;
       float: right;
       bottom: 400px;
       left: 70%;
       margin-left: -50px;
}

#logoutFontsize {
  font-size: 50px;
}

#logoutFontsizeTwo {
  font-size: 20px;
}

.nav .navbar-nav{
  height: 75px;
  margin-bottom: 30px;
  text-align: center;
  position: fixed;
}

.navbar-brand {
  float: left;
  margin-bottom: 20px;
  text-align: center;
}

.nav li {
  vertical-align: middle;
  margin: 10px 20px 10px 10px;

}

.headerbar {
  background-color: #6666ff;
  height: 300px;
  width: 100%;
  /*padding-top: 10px;*/
  /*margin-top: px;*/
  vertical-align: top;
  /*position: absolute;*/
}

.headerimg {
  margin: auto;
  text-align: center;
}

.row {
  margin-top: 50px;
  position: relative;
}



