.color {
  background-color: #333; border-color: #333;
}

.yelpEmbed {
  text-align: center;
  margin: auto;
}

.yelpMenu {
  text-align: center;
  margin: auto;
}

.yelpResult {
  text-align: center;
  margin: auto;
}

.yelpImage {
  width: 300px;
  text-align: center;
  margin: auto;
}

.yelpLink {
  font-size: 150%;
  color: blue;
}

.room {
  text-align: center;
  margin: auto;
}

.roomUser {
  text-align: center;
  margin: auto;
}


.prefilled {
  font-weight: 200;
  font-style: italic;
  text-align: center;
  margin: auto;
}

.scrollable {
  height: 500px;
  overflow: scroll;
}

.bordered {
  border: 2px groove;
  border-radius: 3px;
}

.userDetails {
  font-size: 75%;
}

.vote-on {
  background-color: green;
}

.vote-off {
  background-color: white;
}